
input.form-control.ng-invalid.ng-touched {
  border-color: #ec0e0e !important;
}

input.form-control.ng-invalid.ng-touched:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(236, 14, 14, .25) !important;
  box-shadow: 0 0 0 .2rem rgba(236, 14, 14, .25) !important;
}
