<div class="row todo-item">
  <div class="col-12 my-1">

    <div class="float-left pointer py-2" (click)="changeTodoDone()" [title]="changeTitle()">
      <input type="checkbox" class="" [checked]="todoItem.done">
    </div>

    <div class="float-left position-relative">
      <span *ngIf="loading" class="spinner-border text-primary position-absolute ml-3"></span>
      <div class="my-2 container-fluid" [ngClass]="getLineThroughClassIfDoneIsTrue()">{{ todoItem.description }}</div>
    </div>

    <div class="float-right text-right">
      <button class="btn btn-sm btn-danger mt-1"
              [ngbPopover]="deleteDataPopUp"
              placement="left"
              [autoClose]="true"
              title="Delete this todo">
        <span class="trash">Delete</span>
      </button>
    </div>

  </div>
</div>

<!-- pop up for delete confirm -->
<ng-template #deleteDataPopUp>
  <div class="font-weight-bold text-center">
    <div class="">Delete this Todo?</div>
    <button class="btn btn-outline-danger m-2" (click)="deleteTodo()">Yes</button>
    <button class="btn btn-primary m-2" (close)="'true'">No</button>
  </div>
</ng-template>
