/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --white-opacity: rgba(255, 255, 255, 0.750);
}

body {
  font-family: "TheSansRegular", Arial, Verdana, sans-serif !important;
  background: #fff;
  color: #3e3e3e;
  word-wrap: break-word;
}

.light-gray {
  background: #e3e3e3;
}

.pointer {
  cursor: pointer;
}
